

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&display=swap');
@import "tailwindcss";

/* globals.css */
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&display=swap'); */


.animated-gradient {
  background: linear-gradient(
   120deg,
    #F7A5A5,
    #FFDBB6
 
  );
  /* background-size: 400% 400%; */
  /* animation: gradientMove 15s ease infinite; */
}
 
 :root {
     --background:#1A2A4F;
    --fore-ground: #1A2A4F;
    --fancy-font-color: #F7A5A5;
    --main-text-color: #02021e;

    --button-bg: #3b3e53;
    --font-fancy: 'Playfair Display', serif;
    --button-text: #FFF2EF;
    --button-bg: #F7A5A5;
    --button-border:#0D1164;
    --hero-text-color:#FFDBB6;
  }
/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

body{
  color: var(--main-text-color);
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.animated-gradient-text {
  background: linear-gradient(
   120deg,
    #F7A5A5,
    #FFDBB6
 
  
  
   
  );
 

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* @media (prefers-color-scheme: dark) {
 
} */

@keyframes fadeIn {
  0% { opacity: 0; transform: scale(0.80); }
  100% { opacity: 1; transform: scale(1); }
}

@keyframes slideInLeft {
  0% { opacity: 0; transform: translateX(-100px); }
  100% { opacity: 1; transform: translateX(0); }
}

@keyframes slideInRight {
  0% { opacity: 0; transform: translateX(100px); }
  100% { opacity: 1; transform: translateX(0); }
}
@keyframes dropFromTop {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dropFromBottom {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideShake {
  0% {
   
    transform: translateX(-20px);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slideLeft {
  display: flex;
  animation: slideLeft 20s linear infinite;
}


.animate-dropTop {
  animation: dropFromTop 1s ease-out forwards;
}

.animate-dropBottom {
  animation: dropFromBottom 1s ease-out forwards;
}

.animate-shake {
  
  animation: slideShake 1s ease-in-out forwards;
   animation-delay: 1.2s;
}


.animate-fadeIn {
  animation: fadeIn 2s ease-out forwards;
}

.animate-slideInLeft {
  animation: slideInLeft 1s ease-out forwards;
}

.animate-slideInRight {
  animation: slideInRight 1s ease-out forwards;
}


body {
  background: var(--background);
  color: var(--main-text-color);
  
}

header {
  font-family: var(--font-fancy);
  color: var(--fancy-font-color);
}

div .main-text-color{
  
}

.button-dark{
   @apply flex justify-center items-center cursor-pointer text-center text-white px-5 py-3 rounded-full font-semibold;
  color: var(--button-text);
  background-color: var(--button-bg);
  border: 1px solid var(--button-text);
}

.button-light{
   @apply flex justify-center items-center cursor-pointer text-center text-white px-5 py-3 rounded-full font-semibold;
  color: var(--fancy-font-color);
  background-color: var(--button-text);
  border: 1px solid var(--fancy-font-color);
}

 

div .link-icon{
  color: var(--button-border);
  border: 1px solid var(--fancy-font-color);
  @apply rounded-lg py-3 px-3;
  
}

 



input[type="textarea"]{
  @apply bg-gray-100 rounded-lg h-40 w-full text-sm text-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-200 focus:border-transparent;
}
input[type="email"],[type="text"]{
  @apply bg-gray-100 rounded-full text-sm text-gray-700 focus:outline-none focus:ring-1 focus:ring-gray-200 focus:border-transparent ;
    @apply w-full py-4 px-4 border-2 border-gray-200 ;
}
button{
 
}

label{
  @apply text-gray-500 text-sm font-semibold ml-3
}
h1{
   
  font-family: var(--font-fancy);
  
}

h1:hover{
  @apply scale-120 transition-all ease-in-out duration-500 ;
}
h3{
    
font-size: 18px;
  @apply font-serif;

  @apply text-xl font-semibold mb-4  ;
}
h4{
  @apply text-2xl font-bold mb-4  tracking-[0.1rem];
  
}
h2{
   
font-size: 32px;
   font-family: sans-serif;
  @apply text-4xl mb-4  tracking-[0.1rem];
}

span, div{
  @apply font-sans;


}
span{
  font-size: 15px;
}
p{
  font-size: 16px;
 
  @apply font-serif;

}
.tool-names{
  @apply text-gray-800 text-sm font-bold text-2xl;
}

.skill-slide{
   
  background-color:  #f5eced;
}
.section-header{
color: var(--fancy-font-color);
}

.quote-text{
  color: var(--hero-text-color);
}
.section-header p{
  color: var(--hero-text-color);
}

/* .scrollbar-hidden:-webkit-scrollbar{
  display: none;
} */

.scrollbar-hidden{
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


/* responsivness for god's sake */

/* @layer components {
   */
 @media( min-width: 640px) {
  nav ul li{
  @apply text-xl font-sans;
  


 
 
}

 
  .mobile-menu{
    display: none;
  }
  .mobile-hero{
  display: none;
}
.mobile-skills{
  display: none;
}
.mobile-projects{
  display: none;

}
.mobile-about{
  display: none;
}

 }
  
  @media (max-width: 639px) {
    nav{
      @apply py-6 ;
    }
   
    nav ul li{
  @apply text-sm text-center font-semibold py-2 cursor-pointer;
  color: var(--fore-ground);
   
   border-bottom-color:var(--button-border);
 
}
.desktop-header{
  display: none;
}


.desktop-hero{
  display: none;
}
.desktop-skills{
  display: none;
  }
  .desktop-projects{
    display: none;
    }
  .desktop-about{
    display: none;
  }

.project-title {
    text-align: left;
    border: 1px solid red;
  }

    .project-title {
        border: 1px solid green;
      text-align: center;
      font-size: 1.75rem; /* 28px */
    }
    .menu-items-nav{
    display: none;
  }
  .menu-items-socials{
    display: none;
  }


  }
/* } */
